<h3 style="text-align:center;font-size:160%;">My Manager Details</h3>

<div class="mymanager-container">
        <div class="mgrid1">
                Employee ID <br/>
                FullName<br/>
                Email Address<br/>
                PhoneNumber<br/>
        </div>
        <div class="mgrid2">
                : {{(emp|async)?.empId}}<br/>
                : {{(emp|async)?.empName}}<br/>
                : {{(emp|async)?.empName}}<br/>
                : {{(emp|async)?.mobNo}}<br/>
        </div>
      
      </div>